.photo-sm{
    width: 100%;
    height: 380px;
    background-color: aliceblue;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: antiquewhite;
    margin-top: 20px;
    overflow: hidden;
}

[class*="col-"] {
    width: 100%;
  }


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
  }

@media only screen and (min-width: 575.98px) {
    /* For tablets: */
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
  }
  @media only screen and (min-width: 767.98px) {
    /* For desktop: */
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
  }

  @media only screen and (min-width: 991.98px) {
    /* For desktop: */
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
  }